.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 200px;
  margin: 0 auto;
  max-width: 1300px;
}
.title {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.grid-container {
  display: inline-grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  background-color: gray;
  border: 2px solid black;
  height: 600px;
  width: 600px;
}
button {
  padding: 10px 5px;
  margin: 2px 1px;
  margin-left: 0;
}
.gridButton-container {
  padding: 2px 2px;
  margin: 2px 1px;
  margin-left: 0;
}
.cell {
  background-color: white;
  border: 1px solid lightgray;
}

button.active {
  background-color: grey;
}

.gridButton.active {
  background-color: skyblue;
}
.footer {
  text-align: center;
}
